<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common_js">

<script type="text/javascript" th:src="@{/Hui/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/Hui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/Hui/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/Hui/h-ui.admin/js/H-ui.admin.js}"></script> 

<script type="text/javascript" th:src="@{https://unpkg.com/vue/dist/vue.js}"></script>
<script type="text/javascript" th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>

<script type="text/javascript" th:src="@{/Hui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/Hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/Hui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>

</th:block>