<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
	</head>
	<body>
		<input type="text" name="word"  baiduSug="1" />
	</body>
	<script th:src="@{/third/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/third/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/third/bootstrap-table/1.9.1/bootstrap-table.min.js}"></script>
	<script	th:src="@{/third/bootstrap-table/1.9.1/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script th:src="@{/third/layer/3.0.3/layer.js}"></script>
	<script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
	<script>
	
	</script>
</html>
