<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
	</head>
	<body>
		<div class="container" style="width: 96%;padding-left: 5px;padding-top: 5px;">
	    <form method="post" id="saveform" name="saveform" action="">
	        <div class="row">
				<p>
			        <button type="button" onclick="formDesign.exec('text');" class="btn btn-info">文本框</button>
			        <button type="button" onclick="formDesign.exec('textarea');" class="btn btn-info">多行文本</button>
			        <button type="button" onclick="formDesign.exec('select');" class="btn btn-info">下拉菜单</button>
			        <button type="button" onclick="formDesign.exec('select-ext');" class="btn btn-info">下拉菜单-扩展</button>
			        <button type="button" onclick="formDesign.exec('radios');" class="btn btn-info">单选框</button>
			        <button type="button" onclick="formDesign.exec('checkbox');" class="btn btn-info">复选框</button>
			        <button type="button" onclick="formDesign.exec('button');" class="btn btn-info">按钮</button>
			        <button type="button" onclick="formDesign.exec('macros');" class="btn btn-info">宏控件</button>
			       <!-- <button type="button" onclick="formDesign.exec('progressbar');" class="btn btn-info">进度条</button>
			        <button type="button" onclick="formDesign.exec('qrcode');" class="btn btn-info">二维码</button>
			        <button type="button" onclick="formDesign.exec('listctrl');" class="btn btn-info">列表控件</button>
			        <button type="button" onclick="formDesign.exec('more');" class="btn btn-primary">一起参与...</button>
					 -->
					 <span class="label label-warning" style="margin-left: 10px;">注意：请将表单元素置于table中！</span>
					 
    				<a href="javascript:void(0);" style="margin-left: 30px;" class="btn btn-success btn-small" id="button_save" onclick="formDesign.fnCheckForm('save');">确定保存</a>
				</p>
			</div><!--end row-->  
			<div class="row">
                <script id="formEditor" type="text/plain" style="width:100%;"></script>
            </div><!--end row--> 
	    </form>
		</div>
	</body>
	<script th:src="@{/third/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/third/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/third/ueditor/ueditor.config.js}"></script>
	<script th:src="@{/third/ueditor/ueditor.all.js}"> </script>
	<script th:src="@{/third/ueditor/lang/zh-cn/zh-cn.js}"></script>
	<script th:src="@{/third/ueditor/formdesign/formdesign.v4.js}"></script>
	<script th:inline="javascript">
	var key = "key";
	
	var formEditor = UE.getEditor('formEditor',{
	    textarea: 'design_content',
	    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
	    toolbars:[[
	        'fullscreen', 'source', '|', 'undo', 'redo', '|','bold', 'italic', 'underline', 'fontborder', 'strikethrough',  'removeformat', 'formatmatch','|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist','|', 'fontfamily', 'fontsize', '|', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',  'link', 'unlink',  '|',  'horizontal',  'spechars',  'wordimage', '|', 'inserttable', 'deletetable',  'mergecells',  'splittocells','edittd','|','emotion','simpleupload','insertimage','attachment']],
	    //focus时自动清空初始化时的内容
	    //autoClearinitialContent:true,
	    //关闭字数统计
	    wordCount: false,
	    tableDragable: false, //表格禁止拖动
	    //关闭elementPath
	    elementPathEnabled: false,
	    //默认的编辑区域高度
	    initialFrameHeight:485
	    //更多其他参数，请参考ueditor.config.js中的配置项
	});
	var formDesign = {
	    /*执行控件*/
	    exec : function (method) {
	    	formEditor.execCommand(method);
	    },
	    /*
	     Javascript 解析表单
	     template 表单设计器里的Html内容
	     fields 字段总数
	     */
	    parse_form:function(template,fields)
	    {
	        //正则  radios|select 匹配的边界 |--|  因为当使用 {} 时js报错 (plugins|fieldname|fieldflow)
	        var preg =  /(\|-<span(((?!<span).)*plugins=\"(radios|select|enumlink)\".*?)>(.*?)<\/span>-\||<(img|input|textarea|select).*?(<\/select>|<\/textarea>|\/>))/gi,preg_attr =/(\w+)=\"(.?|.+?)\"/gi,preg_group =/<input.*?\/>/gi;
	        if(!fields) fields = 0;
	
	        var template_parse = template,template_data = new Array(),add_fields=new Object();
	        var pno = 0;
	        template.replace(preg, function(plugin,p1,p2,p3,p4,p5,p6){
	            var parse_attr = new Array(),attr_arr_all = new Object(),name = '', select_dot = '' , is_new=false;
	            var p0 = plugin;
	            var tag = p6 ? p6 : p4;
	            //alert(tag + " \n- t1 - "+p1 +" \n-2- " +p2+" \n-3- " +p3+" \n-4- " +p4+" \n-5- " +p5+" \n-6- " +p6);
	
	            if(tag == 'radios')
	            {
	                plugin = p2;
	            }else if(tag == 'select'||tag == 'enumlink')
	            {
	                plugin = plugin.replace('|-','');
	                plugin = plugin.replace('-|','');
	            }
	            plugin.replace(preg_attr, function(str0,attr,val) {
	                if(attr=='name')
	                {
	                    if(val=='NEWFIELD')
	                    {
	                        is_new=true;
	                        fields++;
	                        val = 'data_'+fields;
	                    }
	                    name = val;
	                }
	
	                if(tag=='select' && attr=='value')
	                {
	                    if(!attr_arr_all[attr]) attr_arr_all[attr] = '';
	                    attr_arr_all[attr] += select_dot + val;
	                    select_dot = ',';
	                }else
	                {
	                    attr_arr_all[attr] = val;
	                }
	                var oField = new Object();
	                oField[attr] = val;
	                parse_attr.push(oField);
	            })
	            //alert(JSON.stringify(parse_attr));return;
	            if(name)
	            {
	                if(tag =='radios') /*单选组  一个字段*/
	                {
	                    plugin = p0;
	                    plugin = plugin.replace('|-','');
	                    plugin = plugin.replace('-|','');
	                    //attr_arr_all['value'] = '';
	                    attr_arr_all['content'] = '<span plugins="radios" show="'+attr_arr_all['show']+'" value="'+attr_arr_all['value']+'" required="'+attr_arr_all['required']+'" fieldflow="'+attr_arr_all['fieldflow']+'" fieldname="'+attr_arr_all['fieldname']+'" name="'+attr_arr_all['name']+'" title="'+attr_arr_all['title']+'">';
	                    var dot='';
	                    p5.replace(preg_group, function(parse_group) {
	                        var option = new Object();
	                        parse_group.replace(preg_attr, function(str0,k,val) {
	                            if(k=='value')
	                            {
	                                attr_arr_all['value'] += dot + val;
	                                dot = ',';
	                            }
	                            option[k] = val;
	                        });
	                        option['name'] = attr_arr_all['name'];
	                        if(!attr_arr_all['options']) attr_arr_all['options'] = new Array();
	                        attr_arr_all['options'].push(option);
	                        if(!option['checked']) option['checked'] = '';
	                        var checked = option['checked'] ? 'checked="checked"' : '';
	                        attr_arr_all['content'] +='<input type="radio" text="'+option['text']+'"  name="'+attr_arr_all['name']+'" value="'+option['value']+'"  '+checked+'/>'+option['text']+'&nbsp;';
	
	                    });
	                    attr_arr_all['content'] += '</span>';
	
	                }else
	                {
	                    attr_arr_all['content'] = is_new ? plugin.replace(/NEWFIELD/,name) : plugin;
	                }
	                template = template.replace(plugin,attr_arr_all['content']);
	                template_parse = template_parse.replace(plugin,'{'+name+'}');
	                template_parse = template_parse.replace('{|-','');
	                template_parse = template_parse.replace('-|}','');
	                if(is_new)
	                {
	                    var arr = new Object();
	                    arr['name'] = name;
	                    arr['plugins'] = attr_arr_all['plugins'];
	                    arr['title'] = attr_arr_all['title'];
	                    arr['orgtype'] = attr_arr_all['orgtype'];
	                    arr['fieldname'] = attr_arr_all['fieldname'];
	                    arr['fieldflow'] = attr_arr_all['fieldflow'];
	                    add_fields[arr['name']] = arr;
	                }
	                template_data[pno] = attr_arr_all;
	            }
	            pno++;
	        })
	        var view = template.replace(/{\|-/g,'');
	        view = view.replace(/-\|}/g,'');
	        var parse_form = new Object({
	            'fields':fields,//总字段数
	            'template':template,//完整html
	            'parse':view,
	            'data':template_data,//控件属性
	            'add_fields':add_fields//新增控件
	        });
	        return JSON.stringify(parse_form);
	    },
	    /*type  =  save 保存设计 versions 保存版本  close关闭 */
	    fnCheckForm : function ( type ) {
	        if(formEditor.queryCommandState( 'source' ))
	            formEditor.execCommand('source');//切换到编辑模式才提交，否则有bug
	
	        if(formEditor.hasContents()){
	            formEditor.sync();/*同步内容*/
	
	            //--------------以下仅参考-----------------------------------------------------------------------------------------------------
	            var type_value='',formid=0,fields=$("#fields").val(),formeditor='';
	
	            if( typeof type!=='undefined' ){
	                type_value = type;
	            }
	            //获取表单设计器里的内容
	            formeditor=formEditor.getContent();
	            //解析表单设计器控件
	            var parse_form = this.parse_form(formeditor,fields);
	            console.log(parse_form);
	            //异步提交数据
	            $.ajax({
	                type: 'POST',
	                url : '<%=path%>/workflow/form/saveFormContent.do',
	                dataType : 'json',
	                data : {'formId':'${wfb.ID_}','html':parse_form},
	                beforeSend: function(){
	                	$("#button_save").hide();
	                },
	                complete :function(){
	                	$("#button_save").show();
	                },
	                error:function(){
	                	alert('系统异常');
	                },
	                success : function(data){
						if(data == true) {
							alert('表单保存成功');
							setTimeout(function(){
								win.getData("cb")();
								win.close();
							},50);
						} else {
							alert('表单保存失败');
						}
	                }
	            });
	
	        } else {
	            alert('表单内容不能为空！')
	            return false;
	        }
	    } 
	}

	</script>
</html>
