body {
    background: url(../img/banner.jpg) no-repeat center/cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
div.loginWin .row {
    margin-bottom: 30px;
}
.loginWin h1 {
    font-size: 28px;
    margin-top: 42px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #F45B4B;
}
.loginWin{
	position: absolute;
    width: 500px;
    height: 344px;
    background-color: #fff;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -190px;
    text-align: center;
    box-shadow: 1px 1px 6px #b5bcc4;
}
.row input{
	width: 388px;
    height: 36px;
    border: 1px solid #cedae6;
    border-radius: 20px;
    outline: 0;
    font-size: 18px;
    text-indent: 2em;
    box-shadow: inset 1px 1px 2px rgba(206, 218, 230, 0.49);
    font-family: "Microsoft Yahei";
    font-size: 14px;
    transition: box-shadow 0.3s linear;
    color: #3d5267;
}
.btnRow button{
	width: 388px;
    height: 38px;
    background-color:#F45B4B;
    color: rgb(255, 255, 255);
    font-family: "Microsoft Yahei", ����-��, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
    outline: 0px;
    transition: background-color 0.2s ease-in-out;
}
