body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,button,input,textarea,select{margin: 0;padding: 0;}
body,button,select,input,textarea{font-family: 'Microsoft Yahei';font-size: 14px;}
input[type='button'],input[type='reset'],input[type='submit'],button{cursor: pointer;}
input[disabled],button[disabled]{cursor: default;}
button,input,select,textarea{outline: none;}
input,select,textarea{text-indent: 8px;}
textarea{resize: none;}
h1,h2,h3,h4,h5,h6{font-size: 14px;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
img{border:0;}
table{border-collapse: collapse;border-spacing: 0;}
th,td{margin: 0;padding: 0;}
hr{border:0;height:1px;}
span,i,b,strong,em{font-style: normal;}
html,body{width: 100%;height:100%;}
.clearfix:after{content: '';clear:both;display: table;}
