<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="common/css/login.css"/>
	<style type="text/css">
		.messagels{
			top:85%;
		}
	</style>
</head>
<body>
<div id="app" class="login-form">
	<div class="head-info">
		<label class="lbl-1"> </label> 
		<label class="lbl-2"> </label> 
		<label class="lbl-3"> </label>
	</div>
	<div class="clear"></div>
	<div class="avtar">
		<img src="common/img/avtar.png" />
	</div>
	<form>
		<input type="text" class="text" v-model="userName" placeholder="请输入账号">
		<!-- <div class="key"> -->
		<div class="">
			<input type="password" v-model="userPass" onfocus="this.value = '';"
				onblur="if (this.value == '') {this.value = '123';}">
		</div>
	</form>
	<div class="signin">
		<input type="submit" value="Login" v-on:click="login">
	</div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/common/js/login.js"></script>
</body>
</html>